.header_main{
  background-color:beige;
  display: flex;
  justify-content: space-around;
  .Anki{
    font-family: fantasy;
  }
  .Name{
    font-family: fantasy;
    font-family: monospace;
  }
  .user_login{
    font-family: fantasy;
    word-spacing: 10px;
  }
}