.turtle{
  background-image: asset-url('sea-kame.jpg');
  background-position:center bottom;                     /* 画像の表示位置を指定 */
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height:100vh;           
}

.anki{
  text-align: center;
  font-family: fantasy;
  font-size: 300px;
  a{
    color: white;
    text-decoration: none;
  }
}

.welcome{
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 100px;
}