// グループインデックス
.wordbook{
  background-color: #D9E5FF;
  height: 100vh;
  width: 100%;
  display: flex;
  
  &__colums{
    width: 200px;
    height: 100vh;
    justify-content: start;
    overflow: scroll;
    
    &--thick{
      background-color: #191970;
    }
    
    &--thin{
      background-color: #483D8B;
    }
  
  }

  &__colums__title{
    width: 200px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
  }

  .inter{
    width: 150px;
    height: 50px;
    color: blanchedalmond;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
    color: white;
    
    &__user{
    width: 150px;
    height: 50px;
    color: blanchedalmond;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    overflow: scroll;
    font-family: fantasy;
    color: white;
    a{
      color: white;
      text-decoration: none;
    }
    }
  
  }

  .wordbook__word{
    height: 100vh;
    width: calc(100% - 400px);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    &__card{
      width: 100%;
      height: 50px;
      background-color: #CCFFFF	;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;

    }
  
  }

  .cardlist{
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 150px );
  }

  .cardcontent{
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .inputbox{
    width: 100%;
    height: 100px;
    display: flex;
  }

  .input{
    height: 100%;
    width: calc(100% - 100px);
    padding-top: 50px;

  }

  .inputmini{
    height: 50px;
    background-color: #CCFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;

  }

  .smallbutton{
    height: 50px;
    width: 100px;
    justify-content: center;
  }

  .bigbutton{
    height: 100%;
    width: 100px;
    padding: 10px;

  }

  .BOOKS{
    text-decoration: none;
    color: white;
    
  }

  .fas-book-open{
    width: 20px;
    height: 20px;
  }

  .booklist{
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    font-family: fantasy;
    a{
      color: white;
      text-decoration: none;
    }
  }

  .bookname{
    width: calc(100% - 50px);
    height: 100%;
    justify-content: start;

  }

  .bookbutton{
    width: 50px;
    height: 100%;
    justify-content: start;
  }

  .editfunction{
    width: 100%;
    height: 50%;

  }

  .deletefunction{
    width: 100%;
    height: 50%;


  }

  .search{
    margin-bottom: 10px;
  }

  #keyword{
    display: inline-block;
    width: 50%;
    height: 35px;
  }

  #submit-search{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    background-color: #6495ed;
    color: #fff;
    padding: 5.5px 20px;
    vertical-align: top;
  }

}

// グループnew

input[type="text"] {
  width: 120px;  
}

.form{
  height: 30px;
  margin-bottom: 20px;

}

.btn-detail{
  color: white;
  font-family: monospace;
  font-weight: bold;
}

.btn-edit{
  color: white;
  font-family: monospace;
  font-weight: bold;
}

.btn-delete{
  color: white;
  font-family: monospace;
  font-weight: bold;
}


.kensaku{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search{
  cursor: pointer;
}

.input_box[type="text"]{
  width: 390px;
  height: 40px;
}

//ホーム画面
.index{
  background-image: url("/sea-kame.jpg");
  height: 100vh;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}
h1{
  align-items: center;
  text-align: center;
  color: white;
  font-size: 500px;
  font-family: fantasy;
}